.hidden {
  display: none;
}

/* #region reset */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #2e2f42;
  margin: 0;
}

p {
  margin: 0;
  color: #434455;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion reset */

/* #region common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* #endregion common */

/* #region header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.nav-address {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.span-studio {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .nav-address {
    font-style: normal;
    display: block;
  }

  .header-nav .nav-list .nav-link:hover,
  .header-nav .nav-list .nav-link:focus,
  .header-nav .nav-link.current {
    color: #404bbf;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* #endregion header */

/* #region mobile-menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav,
.mobile-address {
  margin-bottom: auto;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-nav-link.current {
  color: #404bbf;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-address-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-address-link {
  font-style: normal;
}

.mobile-address-link.mobile-contact-link {
  color: #4d5ae5;
}

.mobile-socials {
  display: flex;
  justify-content: center;
}

.mobile-socials-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 40px;
}

.mobile-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.mobile-socials-link .mobile-socials-svg {
  fill: #f4f4fd;
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* #endregion mobile-menu */

/* #region slogan */

@media screen and (min-width: 320px) {
  .section-slogan {
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slogan/slogan-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
  }

  .slogan-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .page-title {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
  }

  .primary-btn {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    font-weight: 500;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
}

@media screen and (min-resolution: 192dpi) {
  .section-slogan {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slogan/slogan-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-slogan {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slogan/slogan-tablet.jpg);
  }
  .page-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-slogan {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slogan/slogan-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .section-slogan {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slogan/slogan-desktop.jpg);
  }

  .page-title {
    margin-bottom: 48px;
  }

  .primary-btn:hover,
  .primary-btn:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .section-slogan {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slogan/slogan-desktop@2x.jpg);
  }
}

/* #endregion slogan */

/* #region benefits */

.section-benefits {
  padding-top: 96px;
  padding-bottom: 96px;
}

.icons {
  display: none;
}

.benefits-list {
  max-width: 288px;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benefits-list .list-item {
  width: 100%;
}

.benefits-list .list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.benefits-list .section-prph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    max-width: 736px;
    gap: 24px;
  }

  .benefits-list .list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .benefits-list .list-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .section-benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-list {
    max-width: 1128px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;
  }

  .benefits-list .list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-list .section-prph {
    font-weight: 400;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 0;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    height: 112px;
  }
}
/* #endregion benefits */

/* #region team */

.section-team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
  margin: 0 auto;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.list-item.team-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  max-width: 264px;
}

.list-item.team-list-item:last-child {
  margin-bottom: 0;
}

.team-info {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #fff;
}

.team-info .list-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.12;
  margin-bottom: 8px;
}

.team-info .section-prph {
  font-weight: 400;
  margin-bottom: 8px;
}

.icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.icons-list .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.icons-list .socials-svg {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    gap: 64px 24px;
  }

  .list-item.team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
  }

  .icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
  }

  .icons-list .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icons-list .social-links:hover,
  .icons-list .social-links:focus {
    background-color: #404bbf;
  }
}
/* #endregion team */

/* #region portfolio */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-name {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-name .list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-name .section-prph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-item-port {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
  display: none;
}

@media screen and (min-width: 768px) {
  .list-portfolio {
    column-gap: 24px;
    row-gap: 72px;
  }

  .list-item-port {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .list-portfolio {
    column-gap: 24px;
    row-gap: 48px;
  }

  .list-item-port {
    flex-basis: calc((100% - 48px) / 3);
  }

  .overlay {
    display: block;
  }

  .overlay-box {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    padding: 40px 32px;
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-item-port {
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-item-port:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .list-item-port:hover .overlay {
    transform: translateY(0);
  }
}
/* #endregion portfolio */

/* #region footer */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}

.logo-container {
  max-width: 288px;
}

.logo-container .logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.web-footer {
  color: #f4f4fd;
}

.footer-prph {
  font-weight: 400;
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.icons-list-footer {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.icons-list-footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.icons-list-footer .socials-svg {
  fill: #f4f4fd;
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.subscribe-field {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
}

.subscribe-field::placeholder {
  color: #fff;
}

.btn-send {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-radius: 4px;
}

.icon-send {
  fill: #ffffff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    max-width: 552px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .logo-container .logo {
    text-align: left;
  }

  .footer-title {
    text-align: left;
  }

  .logo-container {
    max-width: 264px;
  }

  .subscription-form {
    gap: 24px;
  }

  .subscribe-field {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer .container {
    max-width: 1158px;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0;
  }

  .logo-container {
    margin-right: 120px;
    max-width: 264px;
  }

  .socials-container {
    margin-right: 80px;
    margin-bottom: 32px;
  }

  .icons-list-footer .social-links {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icons-list-footer .social-links:hover,
  .icons-list-footer .social-links:focus {
    background-color: #31d0aa;
  }

  .subscription-form {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .btn-send:hover,
  .btn-send:focus {
    background-color: #404bbf;
  }
}
/* #endregion footer */

/* #region backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}

.backdrop:not(.is-open) .modal-window {
  transform: translate(-50%, -50%) scale(1.5);
}

.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.close-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:focus .close-svg {
  fill: #fff;
}

.modal-window .popup-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-containers {
  margin-bottom: 8px;
}

.privacy-checkbox {
  margin-bottom: 24px;
}

.comment-box {
  margin-bottom: 16px;
}

.comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  border-color: #4d5ae5;
}

.label-field {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.privacy-checkbox .label-field {
  display: flex;
  align-items: center;
}

.input-wrapper {
  position: relative;
}

.input-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
  border-color: #4d5ae5;
}

.svg-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus + .svg-input {
  fill: #4d5ae5;
}

.checked-element {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  flex-shrink: 0;
}

.privacy-field:checked + .label-field .checked-element {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-policy {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-btn .form-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto 24px;
}

@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .btn-close:hover {
    background-color: #404bbf;
    border: none;
  }

  .btn-close:hover .close-svg {
    fill: #fff;
  }

  .input-wrapper {
    position: relative;
  }

  .input-field:focus {
    border-color: #4d5ae5;
  }

  .input-field:focus + .svg-input {
    fill: #4d5ae5;
  }

  .comment:hover {
    border-color: #4d5ae5;
  }
}
/* #endregion backdrop */
