.hidden {
  display: none;
}

/* #region reset */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #2e2f42;
  margin: 0;
}

p {
  margin: 0;
  color: #434455;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion reset */

/* #region common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* #endregion common */

/* #region header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.nav-address {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.span-studio {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .nav-address {
    font-style: normal;
    display: block;
  }

  .header-nav .nav-list .nav-link:hover,
  .header-nav .nav-list .nav-link:focus,
  .header-nav .nav-link.current {
    color: #404bbf;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* #endregion header */

/* #region mobile-menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav,
.mobile-address {
  margin-bottom: auto;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-nav-link.current {
  color: #404bbf;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-address-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-address-link {
  font-style: normal;
}

.mobile-address-link.mobile-contact-link {
  color: #4d5ae5;
}

.mobile-socials {
  display: flex;
  justify-content: center;
}

.mobile-socials-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 40px;
}

.mobile-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.mobile-socials-link .mobile-socials-svg {
  fill: #f4f4fd;
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* #endregion mobile-menu */

/* #region slogan */

@media screen and (min-width: 320px) {
  .section-slogan {
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slogan/slogan-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
  }

  .slogan-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .page-title {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
  }

  .primary-btn {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    font-weight: 500;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
}

@media screen and (min-resolution: 192dpi) {
  .section-slogan {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slogan/slogan-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-slogan {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slogan/slogan-tablet.jpg);
  }
  .page-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-slogan {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slogan/slogan-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .section-slogan {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slogan/slogan-desktop.jpg);
  }

  .page-title {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .section-slogan {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/slogan/slogan-desktop@2x.jpg);
  }
}

/* #endregion slogan */

/* #region benefits */

.section-benefits {
  padding-top: 96px;
  padding-bottom: 96px;
}

.icons {
  display: none;
}

.benefits-list {
  max-width: 288px;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benefits-list .list-item {
  width: 100%;
}

.benefits-list .list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.benefits-list .section-prph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    max-width: 736px;
    gap: 24px;
  }

  .benefits-list .list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .benefits-list .list-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .section-benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-list {
    max-width: 1128px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;
  }

  .benefits-list .list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-list .section-prph {
    font-weight: 400;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 0;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    height: 112px;
  }
}
/* #endregion benefits */

/* #region team */

.section-team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
  margin: 0 auto;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.list-item.team-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  max-width: 264px;
}

.list-item.team-list-item:last-child {
  margin-bottom: 0;
}

.team-info {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #fff;
}

.team-info .list-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.12;
  margin-bottom: 8px;
}

.team-info .section-prph {
  font-weight: 400;
  margin-bottom: 8px;
}

.icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.icons-list .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.socials-svg {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    gap: 64px 24px;
  }

  .list-item.team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-team {
    max-width: 1440px;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* .list-item.team-list-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  } */

  .team-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
  }

  .icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
  }

  .icons-list .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icons-list .social-links:hover,
  .icons-list .social-links:focus {
    background-color: #404bbf;
  }

  /* .icons-list .socials-svg {
    fill: #f4f4fd;
  } */
}
/* #endregion team */

/* #region portfolio */
/* #endregion portfolio */

/* #region footer */
/* #endregion footer */

/* #region backdrop */
/* #endregion backdrop */
